p{
    font-size: 2rem;
}
body{
    background:#a5a5a5 url(../images/laptop.jpg) fixed 0 0 no-repeat;
    background-size: cover;
    color: white;
    min-height: 100vh;
    min-width: 1024px;
}
.container-bg{
    background-color: #0000004d;
    padding: 30px 40px;
    border-radius: 4px;
    margin-top: 1rem;
}
.form-label{
    font-weight: 600;
}
.navbar{
    background: #ffffff24;
}
.navbar-brand img{
    width: 35px;
}
.page-lists{
    display:flex;
}
.dropdown-menu-tr{
    background-color: #63696b;
    box-shadow: 0px 5px 9px 4px #0000002b;
    border:none;
}
.dropdown-menu-tr li a{
    color:white;
}
.dropdown-menu-tr li:hover{
    background-color: rgba(129, 129, 129, 0.123);
}
.dropdown-item:active {
    color: #fff!important;
    background-color: #a5a5a5!important;
}
.custom-nav{
    flex-direction: row-reverse;
}
.navbar-collapse{
    margin: 0 5px;
}
.custom-header{
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.clock {
    color: #ffffff;
    font-size: 27px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    margin-right: 20px;
}
.j-row{
    width: 100%;
    display:flex;
    justify-content: space-between;  
    flex-wrap: wrap; 
}
.input-width{
    width: 32%;
}
.mix-input-button{
    display: flex;
    align-items: end;
}
.modal{
    color:black;
}
.disabled-div{
    filter: grayscale(0.5) blur(1px);
    pointer-events: none;
}
.alert-success {
    color: #29e259;
    background-color: #17d93d1f;
    border-color: transparent;
}
.alert-danger {
    color: #e91b1b;
    background-color: #6000001f;
    border-color: transparent;
}
.btn-success{
    background-color: #009A77;
    border-color: #009A77;
    width: 100%;
}
.btn-success:hover{
    background-color: #02ad86;
    border-color: #02ad86;
}
.btn-success:focus{
    background-color: #02ad86;
    border-color: #02ad86;
    box-shadow: none;
}
.btn-success:active{
    background-color: #02ad86;
    border-color: #02ad86;
    box-shadow: none!important;
}
.btn-primary{
    background-color: #0a2c5f;
    border-color: #0a2c5f;
}
.btn-primary:hover{
    background-color: #0d3b7e;
    border-color: #0d3b7e;
}
.btn-danger{
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.btn-danger:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:active{
    box-shadow: none!important;
}
.btn-danger:focus{
    box-shadow: none!important;
}




/* table uchun */

tr{
    border-color: transparent;
}
tr:nth-child(even) {
    background: #F0F6FF;
}
div.dataTables_scrollHead table.dataTable {
    margin-top: 0 !important; 
    background: #E5ECF8!important;
    padding-top: 15px;       
}
#c-table{
    color: #606F89;
}
.table-wrapper{
    border-radius: 7px;
    overflow: hidden;
    color: #606F89;
}
thead{
    background: #E5ECF8;
}

th{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #606F89;
}
tr th:first-child{
    padding-left: 1.5rem!important;
}

tr th:last-child{
    padding-right: 1.5rem!important;
}
tr td:first-child{
    padding-left: 1.5rem!important;
}

tr td:last-child{
    padding-right: 1.5rem!important;
}

.show-filter-wrapper{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom:5px;
    margin-top: 4px;
}
.make-excel{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.make-excel div button{
    background-color:#5d666b;
    border-color:#5d666b;
}
.make-excel div button:hover{
    background-color:#747d81;
    border-color:#747d81;
}
.dataTables_info{
    color:white;
    font-weight:600;
}
.edit-btn:hover{
    color: white;
    background-color: #aed5fd;
}
.edit-btn{
    background-color: #91b1d1;
    color: white;
    border:none;
}
.delete-btn:hover{
    color: white;
    background-color: #aed5fd;

}
.delete-btn{
    background-color: #91b1d1;
    color: white;
    border:none;
}
.pagination li a{
    border:none;
}
.pagination li:first-child a, .pagination li:last-child a{  
    border:none;
    font-weight: 700;
    font-family: cursive;
}
.page-item.active .page-link {
    background-color: #14619b;
}

.add-new-link, .add-new-link:hover{
    border: 1px dashed #ffffffa6;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all linear 0.2s;
}
.add-new-link:hover{
    border: 1px solid;
    box-shadow: 2px 1px 1px 2px rgb(255 255 255 / 40%);
}










@media (max-width:1024px){
    .input-width{
        width: 49%;
    }
}
@media (max-width:447px){
    .input-width{
        width: 100%;
    }
}